:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Ralewey", sans-serif;
  --color-primary: #212121;
  --color-sacondary: #2196f3;
  --background-color-primary: #e5e5e5;
  --color-white: #ffffff;
  --color-grey: #757575;
  --color-dark-white: #f5f4fa;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin-top: 0px;
  margin-bottom: 0px;
}

body {
  font-family: var(--main-font);
  font-style: normal;
}
a {
  text-decoration: none;
  font-style: normal;
  color: var(--color-primary);
}
ul,
ol {
  list-style: none;
}
/*==============OTHERS============*/
.webstudio {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-primary);
}
.web {
  color: var(--color-sacondary);
}
.heading-main {
  /*___Чем занимаемся(заголовки)____ */
  height: 42px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  letter-spacing: 0.03em;

  color: var(--color-primary);
}
/*=============HEADER ШАПКА========*/
/*_________HEDER_________*/
/*___________NAVIGATION________ */
.navigation {
  font-weight: 500;
}
.contact-list a {
  font-weight: 500;
  color: var(--color-grey);
}
.navigation__item:hover a,
.navigation__item:focus a {
  color: var(--color-sacondary);
}
.current {
  color: var(--color-sacondary);
}
/*============END HEADER ШАПКА=========*/
/*=============HERO-ГЕРОЙ==============*/
.hero {
  max-width: 1600px;
  height: 600px;

  background: #2f303a;
}
.hero__title {
  /*__Эффективные решения для вашего бизнеса__*/

  font-weight: 700;
  width: 696px;
  font-size: 44px;
  line-height: 1.363;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-color-primary);
}
.button {
  /* ___BUTTON-Заказать-услугу___ */
  background: var(--color-sacondary);
  color: var(--color-white);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

/*=============END HERO-ГЕРОЙ===========*/
/*=========ADVANTAGE-ПРЕМУЩЕСТВО=========*/
/*____________ADVANTAGE-ITEM____________*/
.advantage__heading {
  width: 270px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--color-primary);
}
.advantage__text {
  width: 270px;
  height: 101px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--color-grey);
}
/*=======END ADVANTAGE-ПРЕМУЩЕСТВО========*/
/*=============TEAM-КОМАНДА==============*/
.team {
  min-width: 1600px;
  height: 648px;
  background: var(--color-dark-white);
}
/*__team-item__*/
.team__cards {
  width: 1200px;
}
.team__card-items {
  width: 270px;
  height: 428px;
  background-color: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__name {
  /*_____Имя______ */
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--color-primary);
}
.team__post {
  /* ____Должность___ */
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;

  color: var(--color-grey);
}
/*===========END TEAM-КОМАНДА============*/
/*============FOOTER-ПОДВАЛ==============*/
.footer {
  background-color: #2f303a;
  min-width: 1600px;
  height: 252px;
}
.footer .webstudio {
  color: var(--color-white);
  font-weight: 700;
}
.adress-link,
.contact {
  font-weight: 400;
}
.adress-link a {
  color: var(--color-white);
}
.contact a {
  color: var(--color-grey);
}

/*==========END FOOTER-ПОДВАЛ============*/
/*_______________________________________*/
/*================PORTFOLIO==============*/
/*==========GALERY FOR PORTFOLIO=========*/
/*____galery-btn____ */
.galery__contanier a {
  width: 128px;
  height: 38px;
  border-radius: 4px;
}
.galery__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background: var(--color-dark-white);
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
}
.galery__btn:hover,
.galery__btn:focus {
  background: var(--color-sacondary);
  color: var(--color-white);
  border-radius: 4px;
}
/*___end galery-bt___ */
/* ______GALERY_ITEM_______ */
.galery__card {
  width: 1200px;
}
.galery__card-item {
  height: 404px;
  background: var(--color-white);
  border: 1px solid #eeeeee;
}
.galery__footer-card {
  width: 322px;
  height: 70px;
}
.galery__category--name {
  width: 322px;
  height: 36px;
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;

  color: var(--color-primary);
}
.galery__category {
  width: 322px;
  height: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;

  color: var(--color-grey);
}
/*==========END GALERY FOR PORTFOLIO=========*/
